<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Welcome</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <style>
        .card-body img {
            max-width: 100%;
            height: auto;
        }
    </style>
</head>
<body class="bg-light">
    <div class="container mt-4">
        <div class="row justify-content-center">
            <div class="col-12 col-md-8 col-lg-6">
                <div class="card border-0 shadow-sm">
                    <div class="card-body text-center">
                        <img src="https://avatars.githubusercontent.com/u/120043369?v=4" alt="Ziad Hany" class="img-fluid mb-4">
                        <h4 class="card-title">Welcome, [username]</h4>
                        <p class="card-text">You are currently registered using [email].</p>
                        <p>If you want to connect with me professionally and keep up with my updates, feel free to visit my LinkedIn profile.</p>
                        <a href="https://www.linkedin.com/in/ziad-hani" class="btn btn-primary btn-lg">Visit My LinkedIn Profile</a>
                    </div>
                    <div class="card-footer text-center">
                        <p class="small">If you no longer wish to receive these emails, <a href="#" class="text-primary">unsubscribe here</a>.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
